<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper" >
    <div class="sidebar-heading" style="text-align: center;">SideNav </div>
    <div class="list-group list-group-flush">
      <img src="../favicon.ico" class="center">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" >
        Home
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub1_{{ p1 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub2_{{ p1 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub3_{{ p1 }}</a></li>
        </ul>
      </div>

      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#setting-collapse" aria-expanded="true">
        Setting
      </button>
      <div class="collapse show" id="setting-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub1_{{ p2 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub2_{{ p2 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub3_{{ p2 }}</a></li>
        </ul>
      </div>

      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#config-collapse" aria-expanded="true">
        Config
      </button>
      <div class="collapse show" id="config-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub1_{{ p3 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub2_{{ p3 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub3_{{ p3 }}</a></li>
        </ul>
      </div>
      
      
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cont-collapse" aria-expanded="true">
        Contact
      </button>
      <div class="collapse show" id="cont-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub1_{{ p4 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub2_{{ p4 }}</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Sub3_{{ p4 }}</a></li>
        </ul>
      </div>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
 
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<router-outlet></router-outlet>
